<footer id="footer">
	<div class="container">
		<div class="back-top"><a href="#top"><i class="mdi mdi-arrow-up-bold-circle-outline"></i> Voltar ao topo</a></div>
		<div class="row footer-wrapper">
			<div class="col-md-8">
				<p>De repente diva  é um cantinho especialmente feito para pessoas que buscam elevar a sua auto estima, nosso objetivo é incentivar o valor pessoal de cada indivíduo. Compartilhamos mais do que informação, aqui buscamos a autoconfiança, o amor próprio e a melhoria contínua através do universo feminino. Despertar divas adormecidas é o nosso maior lema!</p>
				<div class="copyright">&copy; Copyright by {{@blog.title}}. All rights reserved.</div>
			</div>
			<div class="col-md-4 footer-logo text-right">
				{{#if @blog.logo}}
					<img src="{{@blog.logo}}" height="40" alt="{{@blog.title}}">
				{{else}}
					{{@blog.title}}
				{{/if}}
			</div>
		</div>
	</div>
</footer>
<!-- / footer -->